{
  "Dynatrace": {
    "BaseUrl": "https://yourtenant.live.dynatrace.com",
    "ApiToken": "YOUR_API_TOKEN",

    "Hosts": [
      "testhost1.com",
      "testhost2.com"
    ],

    "TimeRange": {
      "Mode": "Relative",
      "From": "-1d",
      "To": "now",

      "AbsoluteFrom": "2026-06-08T00:00:00-05:00",
      "AbsoluteTo": "2026-06-09T00:00:00-05:00"
    },

    "Resolution": "5m",

    "OutputFolder": "C:\\Temp",

    "Metrics": {
      "Cpu": {
        "Enabled": true,

        "Usage": {
          "Enabled": true,
          "Min": false,
          "Max": true,
          "Avg": true
        },

        "Idle": {
          "Enabled": false,
          "Min": false,
          "Max": false,
          "Avg": true
        },

        "Load": {
          "Enabled": false,
          "Min": false,
          "Max": false,
          "Avg": true
        },

        "System": {
          "Enabled": false,
          "Min": false,
          "Max": false,
          "Avg": true
        },

        "User": {
          "Enabled": false,
          "Min": false,
          "Max": false,
          "Avg": true
        },

        "IOWait": {
          "Enabled": false,
          "Min": false,
          "Max": false,
          "Avg": true
        }
      },

      "Memory": {
        "Enabled": true,

        "Used": {
          "Enabled": true,
          "Min": false,
          "Max": true,
          "Avg": true
        },

        "Total": {
          "Enabled": true
        },

        "AvailableBytes": {
          "Enabled": false
        },

        "Usage": {
          "Enabled": false,
          "Min": false,
          "Max": true,
          "Avg": true
        },

        "SwapUsed": {
          "Enabled": false
        },

        "SwapTotal": {
          "Enabled": false
        }
      },

      "Disk": {
        "Enabled": true,

        "Used": {
          "Enabled": true,
          "Min": false,
          "Max": true,
          "Avg": true
        },

        "Available": {
          "Enabled": true,
          "Min": false,
          "Max": true,
          "Avg": true
        },

        "Total": {
          "Enabled": false
        }
      }
    }
  }
}