{
  "TimeRange": {
    "Mode": "Default",
    "From": "2026-06-08T00:00:00-05:00",
    "To": "2026-06-09T00:00:00-05:00",
    "RelativeFrom": "-2h",
    "RelativeTo": "now"
  },

  "OutputFolder": "C:\\Temp",
  "Resolution": "5m",

  "Metrics": {
    "Cpu": {
      "Enabled": true,
      "Metrics": [
        {
          "MetricId": "builtin:host.cpu.usage",
          "Avg": true,
          "Max": true,
          "Min": false
        },
        {
          "MetricId": "builtin:host.cpu.idle",
          "Avg": false,
          "Max": false,
          "Min": false
        }
      ]
    },

    "Memory": {
      "Enabled": true,
      "Metrics": [
        {
          "MetricId": "builtin:host.mem.used",
          "Avg": true,
          "Max": true,
          "Min": false
        },
        {
          "MetricId": "builtin:host.mem.total",
          "Avg": false,
          "Max": false,
          "Min": false
        }
      ]
    },

    "Disk": {
      "Enabled": true,
      "Metrics": [
        {
          "MetricId": "builtin:host.disk.used",
          "Avg": true,
          "Max": true,
          "Min": false
        },
        {
          "MetricId": "builtin:host.disk.avail",
          "Avg": true,
          "Max": true,
          "Min": false
        }
      ]
    }
  }
}
